.header {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("./img/pattern.jpeg");
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.Brushes h2 {
  background-color: mediumspringgreen;
}
.Frames h2 {
  background-color: lightcoral;
}
.Paint h2 {
  background-color: skyblue;
}

.bold {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
